attrs==22.2.0
callable==0.1.2
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.0.1
colorama==0.4.6
idna==3.4
lolcat==1.4
pycurl==7.45.2
pyfiglet==0.8.post1
pyparsing==3.0.9
requests==2.28.2
six==1.16.0
socks==0
termcolor==2.2.0
toilet==0.0.0.9
urllib3==1.26.14
wfuzz==3.1.0
